
@{
    ViewBag.Title = "Index";
}

<form role="form" id="formLoca">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="locCode">Location Code</label>
                <input type="text" class="form-control" id="locCode" name="LocationMasterCode" placeholder="Enter Location Code">
                <input type="hidden" class="form-control" id="locID" name="LocationMasterId" value="0">
            </div>
            <div class="form-group col-md-9">
                <label for="locName">Location Name</label>
                <input type="text" class="form-control" id="locName" name="LocationMasterName" placeholder="Enter Location">
            </div>
        </div>
        <div class="form-group">
            <label for="locAddress">Location Address</label>
            <textarea class="form-control" name="LocationMasterAddress" id="locAddress" rows="3" placeholder="Enter Location Address"></textarea>
        </div>
        @*<div class="form-group">
            <label for="locAddress">Drop</label>
            <select class="form-control" name="userId"></select>
        </div>*@
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="locAtive" name="LocationMasterChq" value="true">
            <label class="form-check-label" for="locAtive">Active</label>
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-block bg-gradient-success btn-lg">Save Lcation</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-block bg-gradient-info btn-lg" id="btnNew">New</button>
            </div>
        </div>
    </div>
</form>

@*DataTable*@
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Locations</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div id="tbLocation_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                    <table id="tbLocation" class="hover" style="width:100%">
                        <thead>
                            <tr role="row">
                                <th>Code</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Active</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>


@section FooterScripts{
    
    <script type="text/javascript">
        $(document).ready(function () {
            LoadLocations();

            var table = $('#tbLocation').DataTable();
            $('#tbLocation tbody').on('click', 'tr', function () {
                var da = table.row(this).data();
                LoadLocation(da.LocationID);
            });

           
        });

        $(document).on('submit', '#formLoca', function (e) {
            e.preventDefault();

            if ($('#locID').val() != 0) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to update this Location!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then(function (res) {
                    if (res.isConfirmed)
                        saveLocation();
                })
            }
            else
                saveLocation();


        });

        function saveLocation(){
            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("SaveLocation")',
                data: $('#formLoca').serialize(),
                success: function (JsonObj) {

                    if (JsonObj.IsSuccess) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Location Saved',
                            showConfirmButton: false,
                            timer: 1500,
                            toast: true,
                        })
                        tableLocations.ajax.reload();
                    }
                    else {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: JsonObj.SvrMsgBody,
                            showConfirmButton: false,
                            timer: 1500,
                            toast: true,
                        })
                    }
                }
            });
        }

        var tableLocations;
        function LoadLocations() {
            if (!$.fn.dataTable.isDataTable('#tbLocation')) {
                tableLocations = $('#tbLocation').DataTable({
                    ajax: {
                        type: 'POST',
                        url: '@Url.RouteUrl("GetAllLocation")'
                    },
                    
                    columns: [
                        { data: "LocationCode" },
                        { data: "LocationName" },
                        { data: "LocationAddress" },
                        { data: "LocationActive" },
                    ],
                    columnDefs: [{
                        targets: 4,
                        data: "LocationID",
                        render: function (data, type, row, meta) {
                            return '<a href="#" class="tableItems_row" data-item-id="' + data + '"><i class="fa fa-edit editBtn" value="' + data + '"></i></a>';
                        }
                    }],
                    
                });
            }
            else {
                tableLocations.ajax.reload();
            }
        }

        function LoadLocation(ID) {
            $.ajax({
                type: 'POST',
                url: '@Url.RouteUrl("GetAllLocation")',
                data: {
                    Loc_ID: ID
                },
                success: function (JsonObj) {
                    if (JsonObj.data.length != 0) {
                        $('#locID').val(JsonObj.data[0].LocationID);
                        $('#locCode').val(JsonObj.data[0].LocationCode);
                        $('#locName').val(JsonObj.data[0].LocationName);
                        $('#locAddress').val(JsonObj.data[0].LocationAddress);
                        $('#locAtive').prop('checked', JsonObj.data[0].LocationActive);
                    }
                }
            });
        }

        $(document).on('click', '#btnNew', function (e) {
            clearLocation();
        });

        function clearLocation() {
            $('#locID').val(0);
            $('#locCode').val('');
            $('#locName').val('');
            $('#locAddress').val('');
            $('#locAtive').prop('checked', false);
        }

</script>
    }


@*Exl Sheet dom: 'Bfrtip',
                    buttons: [{
                        extend: 'excel',
                        className: 'btn  btn-success btn-sm',
                        title:'Location List | ERP'
                        }
                    ],*@